body {
  width: auto;
  height: 100vh;
  background-color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
}

section.conteudo-principal {
  margin: auto;
}

section.conteudo-principal div.depoimentos {
  background-color: var(--moderate-violet);
  width: 335px;
  padding: 0 30px 0 30px;
  border-radius: 8px;
}

section.conteudo-principal div.depoimentos div.depoimento {
  background-image: url("../images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 40px;
}

section.conteudo-principal div.depoimentos div.depoimento div.perfil {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

section.conteudo-principal div.depoimentos div.depoimento div.texto {
  padding: 20px 0;
  width: 225px;
}

section.conteudo-principal div.depoimentos div.depoimento div.imagem-perfil {
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid var(--border);
  margin-right: 12px;
}

section.conteudo-principal div.depoimentos div.depoimento img.imagem {
  width: 100%;
}

section.conteudo-principal
  div.depoimentos
  div.depoimento
  div.dados-pessoais
  h1.nome {
  color: var(--light-gray);
  font-size: 1.6rem;
  font-weight: 600;
}

section.conteudo-principal
  div.depoimentos
  div.depoimento
  div.dados-pessoais
  p.status {
  color: var(--verified-graduate);
  font-size: 1.4rem;
  font-weight: 500;
}

section.conteudo-principal div.depoimentos div.depoimento div.texto h1.titulo {
  color: var(--light-grayish-blue);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

section.conteudo-principal div.depoimentos div.depoimento div.texto p.mensagem {
  color: var(--review-paragraph);
  font-size: 1.2rem;
  font-weight: 500;
}
